<p><%= @user.username %> 様</p>

<p><%=link_to "Club Manager", root_url %> をご利用いただき、ありがとうございます。</p>

<p><%= @group.name %>への参加を申請いたしました。</p>

<p></p>
<br>
<p>※本メールにお心当たりがない場合は、お手数ですが、本メールを削除してください。</ p>
