<p><%= @message.username %> 様</p>

<p><%=link_to "Club Manager", root_url %> をご利用いただき、ありがとうございます。</p>

<p><%= @user.username %> さん からメッセージが届きました。</p>

<p>ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー</p>
<p>
  <%= simple_format(@message.body) %>
</p>
<p>ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー</p>

<br>
<p>※本メールにお心当たりがない場合は、お手数ですが、本メールを削除してください。</ p>
