<p><%= @member.username %> 様</p>

<p><%=link_to "Club Manager", root_url %> をご利用いただき、ありがとうございます。</p>

<p><%= @group.name %> から参加申請が取り消されました。</p>

<p></p>
<br>
<p>※本メールにお心当たりがない場合は、お手数ですが、本メールを削除してください。</ p>
