<p><%= @group.master_name %> 様</p>

<p><%=link_to "Club Manager", root_url %> をご利用いただき、ありがとうございます。</p>

<p><%= @member.user_name %> が <%= @group.name %> から退会しました。</p>

<p></p>
<br>
<p>※本メールにお心当たりがない場合は、お手数ですが、本メールを削除してください。</ p>
