<section class="column">

  <div class = "titleposi">
<h1>　Group list </h1>
  </div>
  <br/>
<div class = "box_scrollbar">
  <% @group = Group.all %>
  <ul class = "board">
  <% @group.each do |f| %>

    <li>
      <font size = "5"><%= link_to "#{f.name}", "/groups/out_top/#{f.id}" %></font><br/>
      管理者: <%= "#{f.master_name}" %>
    </li>
    <% end %>
  </ul>



</div>
</section>
