<section class = "column">
<% @group = Group.where("id = ?", @group_id).first %>
<h1>「<%= @group.name %>」</h1>
<p><%= simple_format(@group.about) %></p>
<p><%= link_to "入場する", "/groups/top/#{@group.id}" %></p>
</section>
