<section class = "column">
<p align="center">現在「<%= @group.name %>」への参加を申請中です。</p>
<p align="center">管理者の承認をお待ちください。</p>
<p align="center"><%= link_to "申請を取り消す", "/groups/delete_member/#{@group.id}"%>
</section>
