<div class = "contents">
<% provide(:title, @user.username) %>
<h1><%= @user.username %>のページ</h1>


<h2>年齢: <%= @user.age %></h2>
<h2>所在地: <%= @user.location %></h2>
<h2>コメント: <%= @user.comment %></h2>
</div>
