<!--

<% if request.referer == "http://localhost:3000/groups/out_top/#{current_user.state_group_id}" %>

  <% @group = Group.where("id = ?", current_user.state_group_id).first %>
  <% if @group.master_id == current_user.id %>

    <% @member = Member.where("group_id = ?", current_user.state_group_id).where("p = ?", 0) %>
    <% @i = 0 %>
    <% @member.each do |m| %>
    <% @i = @i + 1 %>
    <% end %>    

    <% if @i != 0 %>
      <script type="text/javascript">
        var username = ""
        alert(username + "管理者様へ\n申請が来ています");
      </script>
    <% end %>

  <% end %>

<% end %>

-->

<% today = Date.today%>
<% @events = Event.where("group_id = ?", current_user.state_group_id) %>

  <table align="center">
    <caption>
      <h2>
      <%= "#{today.strftime('%Y年%-m月')}"%>
    </h2>
    </caption>

    <tr>
      <th width="30" height="20"><font color="red">日</font></th>
      <th width="30" height="20">月</th>
      <th width="30" height="20">火</th>
      <th width="30" height="20">水</th>
      <th width="30" height="20">木</th>
      <th width="30" height="20">金</th>
      <th width="30" height="20"><font color="blue">土</font></th>
    </tr>


    <% month = today.strftime('%m')%>
      <% d = today.at_beginning_of_month.at_beginning_of_week(:sunday)%>
        <% 1.upto(6).each do |i| %>
          <tr>
            <% (d..d.end_of_week(:sunday)).each do |c| %>
          <th width = "20" height = "20">
          <font size = "1">
    	  <% @f = 0 %>
          <% if c.strftime('%m') == month then %>

            <% @events.each do |e| %>
	      <% if ( (c.strftime('%Y') == e.year) && (c.strftime('%m') == e.month) && (c.strftime('%d') == e.date) ) then %>

                <% if c.strftime("%-d") == today.strftime("%-d") %>
                  <font color="red">▶︎</font>
                <% else %>
                <% end %>

		<!---------------------------------------------->

		<% if current_user.state_group_id != -1 %><!-- ログイン状態 -->

		  <% @e = Event.where("group_id = ?", current_user.state_group_id).where("year = ?", c.strftime('%Y')).where("month = ?", c.strftime("%m")).where("date = ?", c.strftime("%d")) %>
		  <% if @e != nil then %>
		    <%= link_to "#{c.strftime('%-d')}", events_neoindex_path(:year => c.strftime('%Y'), :month => c.strftime("%-m"), :day => c.strftime("%-d")) ,class: "linkline3"%>
		  <% else%>
		  <% end %>

		<% else %><!-- ログアウト状態 -->

		 <% @e = Event.where("user_id = ?", current_user.id).where("year = ?", c.strftime('%Y')).where("month = ?", c.strftime("%m")).where("date = ?", c.strftime("%d")) %>
		 <% if @e != nil then %>

		   <!--------------------------------------------->
                   <%= link_to "#{c.strftime('%-d')}", events_neoindex_path(:year => c.strftime('%Y'), :month => c.strftime("%-m"), :day => c.strftime("%-d")) %>
		   <!--------------------------------------------->

  		 <% else %>
                 <% end %>

		<% end %>
		<!--------------------------------------------->

		<% @f = 1 %>
                <% break %>
                <% else %>
                <% end %>
                <% end %>
                <% if @f == 0 then %>

                  <% if c.strftime("%-d") == today.strftime("%-d") %>
		    <font color="red">▶︎</font>
                  <% else %>
                  <% end %>

		  <!-- イベントなしの日付表示-->
	          <%= c.strftime("%-d") %>

                  <% else %>
                  <% end %>
		  <% else %>
		  <% end %>
              </font>
            </th>
            <% end %>
          <% d = d + 1.week %>
          </tr>
        <% end %>
  </table>
