<section class = "column">
  <h1>
    information
  </h1>

  <%= link_to 'Add New!', new_post_path, class: "link_btn"%>
  <div class = "box_scrollbar">

  <p>
    <ul>
      <% @posts.each do |post| %>
      <li>
        <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
        <br>
        <font size = "5"><%= link_to post.title, post_path(post) ,class: "infolink"%></font>
      </li>
        <% end %>
    </ul>
  </p>
</div>

  <h1>
    recruit
  </h1>
</section>
