<div class = "profile">
  <h1>
    Profile
  </h1>
    <%= link_to image_tag('apio.png', class: 'apio') %>
    <%= link_to image_tag('edit_b.png', class: 'edit_b'), edit_user_registration_path %>
</div>
