<div class ="outline">
  <div class = "pagebody">

    <!-- pagebodymain -->
    <div class = "pagebodymain">
      <%= render "main" %>
    </div>

    <!-- pagebodysub -->
    <div class = "pagebodysub">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete ,class: 'logout'%>
      <!--プロフィール-->
      <%= render "profile" %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <!-- calender -->
      <%= render "calendar" %>
    </div>

  </div>
  
</div>
