/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {

   margin: 0;
   padding: 0;
   font-family: Verdana, sans-serif;
   font-size: 14px;
   background-color: #f5f5f5;

 }




.header-fixed{

  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 110px;
}

.header-bk{
  padding: 10px 0 20px;
  width: 100%;
  height: 110px;
  background-color: rgba(240,248,255,0.8);
  border-bottom: 1px solid #a9a9a9
}
/*.header{
  height: 100%;
  width: 96%;
  margin: auto;
  border: 5px solid #fff;
}*/

.logo_posi{
  width: 100%;
  margin-top: 0px;
}
.titlelogo{
  width: 320px;
  margin: auto;


}



.login{
  width: 165px;
  margin: auto;
}

.outline{
  margin-top: 170px;

}
.pagebody{
  margin: auto;
  width: 1100px;
}

.contents{
  width: 400px;
  margin: auto;
  padding: 0.2em 0.5em;
  background: #ffe4d5;
  box-shadow: 0px 0px 0px 10px #ffe4d5;
  border: dashed 2px white;
}

.pagebodymain{
  width: 700px;
  float: left;
  padding: 0.2em 0.5em;
  background: #ffe4d5;
  box-shadow: 0px 0px 0px 10px #ffe4d5;
  border: dashed 2px white;
}

.pagebodymain p{
  .margin: 0;
  padding: 0;
}
.column{
  margin-left: 200px;

}
.box_scrollbar {
  overflow:auto;
  width:300px;
  height:500px;
  padding: 0px;
}
ul.board{
  top: 0px;
  counter-reset: list;
  list-style-type:none;
  position:relative;
  font: 14px/1.6 'Mv Boli', 'arial narrow', sans-serif;
  padding: 1.2em;
  background:#F2EFE7;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset,0 0 4px rgba(0, 0, 0, 0.2) ;
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset,0 0 4px rgba(0, 0, 0, 0.2) ;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset,0 0 4px rgba(0, 0, 0, 0.2) ;

}
ul.board:after{
  content:"list-information";  /* 右下の文字 */
  position: absolute;
  bottom: 8px;
  right: 1.2em;
  font-size:12px;
  color:#bbb;
}
ul.board li{

  padding: 0px 10px 5px 10px;
  margin: 7px 0 10px 0px;
  font-weight: bold;
  font-size:14px;
  border-bottom:dashed 1px #ccc;
  color:#333;
}

ol.ex li:first-child{
  margin-top:0;

}
ol.ex li:last-child{
  margin-bottom: 20px;

}

ol.ex li:before{
  counter-increment: list;
  content: counter(list) ",";
  position: absolute;
  left: 15px;
  font-size:1.2em;
   top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.info{

}
.infolink{
  color: black;
  text-decoration: none;
}

.pagebodysub{
  float: right;
  width: 350px;
  background-color: #ffffff;
}

.logout{
  float: right;
  display: inline-block;
  padding: 0.3em 0.5em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}
.logout:hover{
  background: #67c5ff;
  color: white;
}

.link_btn{
  font-weight: bold;/*太字に*/
  text-decoration: none;/*下線消す*/
  background: skyblue;/*背景を水色に*/
  color:white;/*文字を白に*/
  padding:0px 10px;/*内側の余白*/
  border-radius: 20px;/*角を丸くする*/
  font-family: 'Avenir','Arial';
}
.link_btn:hover {
  background: silver;/*背景色をシルバーに*/
  text-decoration: none;/*下線を消す*/
}


.profile{
  margin: auto;
  padding-left: 120px;
}
.calender{
  margin-left: 305px;
  width: 1300px;
  padding: 0.2em 0.5em;
  background: #ffe4d5;
  box-shadow: 0px 0px 0px 10px #ffe4d5;
  border: dashed 2px white;


}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 15px;

}

ul > li {
  margin-bottom: 5px;
}

.logo {
  width: 323px;
  height: 120px;
}
.apio {
  width: 100px;
  height: 100px;
}

.edit_b {
  width: 20px;
  height: 20px;
}


input[type="text"],textarea {
  box-sizing: border-box;
  width: 400px;
  padding: 5px;
}

textarea {
  height: 160px;
}

.error {
  font-size: 12px;
  font-weight: bold;
  color: tomato;
}

.command {
  font-size: 12px;
  float: right;
}

h3 {
  font-size: 14px;
  padding-top: 25px;
}
