<% @group = Group.where("id = ?", @group_id).first %>
<h3 align="center">「<%= @group.name %>」への参加申請</h3>
<p align="center"><%= link_to "申請する", "/members/applicate/#{@group_id}" ,class: "cross_line"%></p>
