<p>ユーザーネーム <%= @user.username %> 様</p>

<p>【Club Manager】をご利用いただき、ありがとうございます。</p>

<p>パスワード再設定のリクエストを受け付けました。下記リンクより手続きを行うことができます。</p>

<p>
  【パスワード再設定URL】<br />
    <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>※本メールにお心当たりがない場合は、お手数ですが、本メールを削除してください。</ p>
<p>※上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</ p>
